In [3]:
my_tuple = ()
my_tuple

()

In [4]:
type(my_tuple )

tuple

In [5]:
print(type(my_tuple))

<class 'tuple'>

In [6]:
str_tuple = ("hello", "python")
str_tuple 

str_tuple2 = (1,2,3,4)

print(str_tuple, str_tuple2)

('hello', 'python') (1, 2, 3, 4)

In [11]:
combine_tuple = str_tuple +  str_tuple2

print(combine_tuple)

print(str_tuple * 3)

mixed_tuple = (1, "hello", 5.6)

('hello', 'python', 1, 2, 3, 4)
('hello', 'python', 'hello', 'python', 'hello', 'python')
(1, 'hello', 5.6)

In [12]:
## fields are what we used to call elements in a tuple

In [19]:
a, b, c = mixed_tuple

print(c)

nested_tuple = (1,2,3, (4,5,6))

print(nested_tuple)

5.6
(1, 2, 3, (4, 5, 6))

In [21]:
mixed_tuple = ("mouse", [8,4,6], (1,2,3))
print(mixed_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [30]:
my_tuple = ('p', 'e','r','m', 'i', 't' , 't', 'e', 'd')

print(mixed_tuple)

print(my_tuple)
#field 2 - index 2 = 3

('mouse', [8, 4, 6], (1, 2, 3))
('p', 'e', 'r', 'm', 'i', 't', 't', 'e', 'd')

In [31]:
print(my_tuple[::2])

('p', 'r', 'i', 't', 'd')

In [ ]:
my_tuple = ('H','e','l','l','o')

In [35]:
print('e'  not in  my_tuple)

False

In [40]:
int_tuple = (1,4,6,7, 7)
int_tuple

set(int_tuple)

{1, 4, 6, 7}

In [42]:
immutable_tuple_2 = (4,2,3, (6,5))
immutable_tuple_2

(4, 2, 3, (6, 5))

In [4]:
immutable_tupple3 = (4,3,4,[6,5])
immutable_tupple3

(4, 3, 4, [6, 5])

In [8]:
immutable_tupple3[3][0] = 100

In [9]:
print(immutable_tupple3)

(4, 3, 4, [100, 100])

In [11]:
my_tuple = ('p', 'y','t','h','o','n')
my_tuple

('p', 'y', 't', 'h', 'o', 'n')

In [24]:
tuple_a = ('a', 'b', 'c', 'd', 'e')
typle_b = (1,2,4,5, 6)

zipped = zip(tuple_a,typle_b)

print(zipped)

<zip object at 0x0000017A0938E100>

In [25]:
result = tuple(zipped)

print(result)

(('a', 1), ('b', 2), ('c', 4), ('d', 5), ('e', 6))

In [26]:
tuple_x, tuple_y = zip(*result)
print(tuple_x)
print(tuple_y)

('a', 'b', 'c', 'd', 'e')
(1, 2, 4, 5, 6)

In [28]:
list_a = [4,7,8,9,10]
list_b = ["a",'e','i','o','u']

In [31]:
zipped_list = zip(list_a,list_b)

In [32]:
result = list(zipped_list)

print(result)

[(4, 'a'), (7, 'e'), (8, 'i'), (9, 'o'), (10, 'u')]

In [4]:
a = ("john", "charles", "Mike")

b = ("manager", "supervisor", "engineer")

x = zip(a,b)
print(dict(x))

{'john': 'manager', 'charles': 'supervisor', 'Mike': 'engineer'}

In [10]:
## converting tupes to a set 

numbers_list = [1,2,3]

str_list = ['one','two', 'three ']

numbers_tuple = ['ONE', 'TWO', 'Three', 'Four']


result = zip(numbers_list, numbers_tuple)

print(result)

<zip object at 0x000001E16084A880>

In [9]:
result_set = set(result)

print(result_set)

{(1, 'ONE'), (3, 'THREE'), (2, 'TWO')}

In [12]:
result = zip(numbers_list, str_list, numbers_tuple)

In [13]:
result_set = set(result)
print(result_set)

{(1, 'one', 'ONE'), (2, 'two', 'TWO'), (3, 'three ', 'Three')}