In [ ]:
tuple_teachers = ('alice', 'alexa', )

In [1]:
if 10< 15: ## coloen starts the if block
 print("10 is less than 15")

10 is less than 15

In [3]:
if ( 46 > 40 +5):
    print("465 is greater than 45")

465 is greater than 45

In [5]:
if(46> 49):
 print("46 is greater than 40")

In [6]:
value_z = 65

value_y = 25

if value_z < value_y:
    print('Value of z is less than the value of y')

In [8]:

if value_z > value_y:
    print('Value of z is greater than the value of y')

Value of z is greater than the value of y

In [9]:
my_string = 'Hello python world'

if 'python' in my_string:
    print('Yes', "Python is in my_string")

Yes Python is in my_string

In [10]:
if "pythonworld" in my_string:
    print('Yes, "Python world is in my_STRING' )

    ## doesnt work because python is case sensitive

In [11]:
if "python world" in my_string:
    print('Yes, "Python world is in my_STRING' )

Yes, "Python world is in my_STRING

In [12]:
list_students = ["Ayden", "Gavin", "Ian", "Jose", "Jane"]

list_students

['Ayden', 'Gavin', 'Ian', 'Jose', 'Jane']

In [13]:
if 'Jose' in list_students:
    print("jose is a student")

jose is a student

In [14]:
if 'eva' in list_students:
    print("jose is a student")

In [17]:
tuple_teachers = ("Alice", "Alexa", "Robert", "Bella")
tuple_teachers

('Alice', 'Alexa', 'Robert', 'Bella')

In [20]:
if "Alexa" in tuple_teachers:
    print("Alexa is a teacher")

Alexa is a teacher

In [22]:
student_score = {"Ayden" : 60, "Gavin": 85, "ian": 76 , "Jose": 70, "Jane": 82}
student_score

{'Ayden': 60, 'Gavin': 85, 'ian': 76, 'Jose': 70, 'Jane': 82}

In [23]:
if "ian" in student_score:
    print("Ian is in the student_score dictionary")

Ian is in the student_score dictionary

In [24]:
if "Jane" in student_score:
    print("Jane's score" , student_score['Jane'])

Jane's score 82

In [26]:
if( "Ayden" in student_score):
    print("Ayden's score: ", student_score["Ayden"])

Ayden's score:  60

In [7]:
a = 60
b = 35  

if(a >b and b>a):
    print("a is greater than b ")

In [30]:
x_value = 65
y_value = 25

In [31]:
if (a >b and b >a): 
    print('a is greeater than b ')

In [2]:
x_value = 65
y_value = 25

In [4]:
z_value = x_value + y_value
z_value

90

In [5]:
if x_value > y_value and y_value < z_value:
    print("both conditions are True")

both conditions are True

In [10]:
a,b
if (a > b  or b < a ):
    print('At least one of the above conditions is true')

At least one of the above conditions is true

In [11]:
bike_price = 716

In [12]:
bike_is_electric = False

if bike_price > 500 or bike_is_electric:
    print("At least one of the above conditions is true")

At least one of the above conditions is true

In [14]:
if bike_price > 1000 or bike_is_electric:
    print("At least one of the above conditions is true")

    ##both statement evaluate to false

In [15]:
if not bike_is_electric:
    print("its a human powered bike")

its a human powered bike

In [17]:
x= 45 
y = 78

In [18]:
if not( x<y):
    print("x is not less than y")

In [19]:
if not (x> y ):
    print('x is not greater than y')


    ##using the not key word

x is not greater than y