In [16]:
car_matrix = [["hennesdsay Venom GT", 1244], ['SSC ultimate Aero', 1287 ],['Zenvo STI', 1100]] 

car_matrix

[['hennesdsay Venom GT', 1244],
 ['SSC ultimate Aero', 1287],
 ['Zenvo STI', 1100]]

In [3]:
len(car_matrix)

3

In [4]:
len(car_matrix[1])

2

In [5]:
car_matrix[1][0]

'SSC ultimate Aero'

In [6]:
A = [[1, 4, 5, 12], 
    [-5, 8, 9, 0],
    [-6, 7, 11, 19]]

In [13]:
print("A List = ", A) ## you need to use two square brackets to access nested list

A List =  [[1, 4, 5, 12], [-5, 8, 9, 0], [-6, 7, 11, 19]]

In [23]:
car_matrix[2][0:2]

['Zenvo STI', 1100]

In [25]:
A[2][2:4]

[11, 19]

In [26]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]

# Display list
print(Lst[1:2])

#does not inlclude the last number in the brackets

[70]

In [ ]:
################ Convertin list to Tuyple #################### next vid

In [27]:
my_list = [['Leo', 17], ['Aaron' , 25], ['Easton' , 34], ['Jack' , 70] ]

In [30]:
tuple(my_list)

(['Leo', 17], ['Aaron', 25], ['Easton', 34], ['Jack', 70])

In [31]:
student_list = [[1, 'Caleb',  2, 'Leo'], [3, 'easton'] , [4,'Jordan', 'JamesyM8']]

In [32]:
student_list ## two dimesions

[[1, 'Caleb', 2, 'Leo'], [3, 'easton', 4, 'Jordan']]

In [34]:
dict(student_list)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [36]:
student_list = [[1, 'Caleb'], [ 2, 'Leo'], 
                [3, 'easton'], [4,'Jordan']]

In [37]:
dict(student_list)

{1: 'Caleb', 2: 'Leo', 3: 'easton', 4: 'Jordan'}

In [43]:
student_list_2 = [[1, 'Caleb'] , [2, 'Leo'], [3, 'easton'] , [4,['Jordan', 'JamesyM8']]]
##dict items must be able to distingues between a value and key hence the seperation with 3 inner seperate values inthe list

In [44]:
dict(student_list_2)

{1: 'Caleb', 2: 'Leo', 3: 'easton', 4: ['Jordan', 'JamesyM8']}

In [45]:
car_matrix

NameError: name 'car_matrix_dict' is not defined