In [2]:
months = {'jan': 1, 'feb' : 2, 'march' :3, 'april': 4}

months

{'jan': 1, 'feb': 2, 'march': 3, 'april': 4}

In [5]:
new_months['feb'] = 'FEB'

In [6]:
print("Orginals", months)
print("modified", new_months)

Orginals {'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}
modified {'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}

In [7]:
import copy 

employees = {'Alison' : 2007, "bart" : 2008, "Cathy" : 2009, "Dan": 2010}

employees

{'Alison': 2007, 'bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [8]:
employees_copy = copy.copy(employees)

print(employees)
print(employees_copy)

{'Alison': 2007, 'bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2007, 'bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [9]:
employees_copy['Alison'] = 2005

print(employees)
print(employees_copy)

{'Alison': 2007, 'bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2005, 'bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [10]:
orig_dict = {'one':1 , 'two': 2, 'Three':3, 'Four':[1,2,3,4,5]}
orig_dict

{'one': 1, 'two': 2, 'Three': 3, 'Four': [1, 2, 3, 4, 5]}

In [11]:
new_dict = copy.copy(orig_dict)

In [16]:
print(new_dict)
print(orig_dict)


new_dict['Four'][3] = 'FOUR'

{'one': 1, 'two': 2, 'Three': 3, 'Four': [1, 2, 3, 4, 5]}
{'one': 1, 'two': 2, 'Three': 3, 'Four': [1, 2, 3, 4, 5]}

In [17]:
print(new_dict)
print(orig_dict)

{'one': 1, 'two': 2, 'Three': 3, 'Four': [1, 2, 3, 'FOUR', 5]}
{'one': 1, 'two': 2, 'Three': 3, 'Four': [1, 2, 3, 'FOUR', 5]}

In [19]:
new_dict['Four'].append(5)
print(new_dict)
print(orig_dict)

{'one': 1, 'two': 2, 'Three': 3, 'Four': [1, 2, 3, 'FOUR', 5, 5]}
{'one': 1, 'two': 2, 'Three': 3, 'Four': [1, 2, 3, 'FOUR', 5, 5]}

In [20]:
orig_dict = {'one' :1, 'two':2, 'three' :{'zero':0, 'one':1}, 'four': 4}

orig_dict

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}

In [22]:
new_dict = copy.copy(orig_dict)

In [23]:
new_dict['three']['zero'] = 'ZERO'

print(orig_dict)
print(new_dict)


## nested complex data types are not deep copied when using the copy function

{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}