In [1]:
empty_list = []

In [2]:
empty_list

[]

In [3]:
list_str = ['toyota camry', 'ford falcon', 'land cruiser prado']
list_str

['toyota camry', 'ford falcon', 'land cruiser prado']

In [4]:
list_bool = [True,False]
list_bool

[True, False]

In [5]:
## mixed list 
mixed_list = ['nissan santra', 1,2.5 ,True]
mixed_list

['nissan santra', 1, 2.5, True]

In [6]:
list_str = ['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3']
# print(list_str(0))

In [7]:
list_str
## mixed list start at 0 for the first index 

print(list_str[3])

mazda 3

In [8]:
print(list_str[3])

mazda 3

In [9]:
print(list_str[2])

land cruiser prado

In [10]:
print(list_str[1,2])

TypeError: list indices must be integers or slices, not tuple

In [ ]:
cars_list = ['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3']

print(list_str[-4])
print(list_str[-3])
print(list_str[-2])
print(list_str[-1])
## -1 prints the last element in the list

toyota camry
ford falcon
land cruiser prado
mazda 3

In [ ]:
## update  a lsit 

print(cars_list[1])

ford falcon

In [ ]:
cars_list = ['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3'] 
cars_list[2] ="Hyandai Elantra" 
print("NEW CARS LIST AT POSTION 2" , cars_list[2])
print(cars_list)

NEW CARS LIST AT POSTION 2 Hyandai Elantra
['toyota camry', 'ford falcon', 'Hyandai Elantra', 'mazda 3']