In [2]:
cars_list = ['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3']

cars_list

['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3']

In [10]:
# cars_list[3] = 'Hyundai Elantra'
# only takes in one argument cannot append 2 elements 
cars_list.append('Hyandai Elantra')

cars_list

['toyota camry',
 'ford falcon',
 'land cruiser prado',
 'mazda 3',
 'Hyandai Elantra']

In [11]:
cars_list.insert(6,'nissan sentra')
cars_list

['toyota camry',
 'ford falcon',
 'land cruiser prado',
 'mazda 3',
 'Hyandai Elantra',
 'nissan sentra']

In [12]:
len(cars_list)

6

In [13]:
cars_list.extend(["kia optima", 'Kia Soul'])

cars_list

['toyota camry',
 'ford falcon',
 'land cruiser prado',
 'mazda 3',
 'Hyandai Elantra',
 'nissan sentra',
 'kia optima',
 'Kia Soul']

In [17]:
cars_list2 = ['Hennessey venom gt ' , 'Bugatti Veryron' , 'ferrari 458']
cars_list2

['Hennessey venom gt ', 'Bugatti Veryron', 'ferrari 458']

In [19]:
  complete_cars_list = cars_list + cars_list2
print(complete_cars_list)

['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3', 'Hyandai Elantra', 'nissan sentra', 'kia optima', 'Kia Soul', 'Hennessey venom gt ', 'Bugatti Veryron', 'ferrari 458']

In [22]:
## index funtion when using on a list has to be an exact match
complete_cars_list.index('Kia Soul')

7

In [29]:
# complete_cars_list.remove('mazda 3')
# complete_cars_list.index('mazda 3')
print(complete_cars_list.index('ford falcon'));

1

In [55]:
# complete_cars_list.remove('ceverolet Crise')
# complete_cars_list.sort()
len(complete_cars_list)
print(complete_cars_list)


# del complete_cars_list[4:11]

complete_cars_list2 = ['BMW','mazda 6', 'toyota carola', 'volswaggon', 'mercedes']

complete_cars_list_next2  = complete_cars_list +  complete_cars_list

print(complete_cars_list_next2)

['Bugatti Veryron', 'Hennessey venom gt ', 'Hyandai Elantra', 'Kia Soul']
['Bugatti Veryron', 'Hennessey venom gt ', 'Hyandai Elantra', 'Kia Soul', 'Bugatti Veryron', 'Hennessey venom gt ', 'Hyandai Elantra', 'Kia Soul']

In [58]:
salary = 94000
salary *= 10
print(salary)

complete_cars_list_next2.sort()

complete_cars_list_next2

940000

['Bugatti Veryron',
 'Bugatti Veryron',
 'Hennessey venom gt ',
 'Hennessey venom gt ',
 'Hyandai Elantra',
 'Hyandai Elantra',
 'Kia Soul',
 'Kia Soul']

In [69]:
# complete_cars_list_next2.pop()
# complete_cars_list_next2.extend(['something1','something2','something2'])

complete_cars_list_next2.count('something3')

set(complete_cars_list_next2)
# del complete_cars_list_next2([7,])

{'Bugatti Veryron',
 'Hennessey venom gt ',
 'Hyandai Elantra',
 'Kia Soul',
 'something1',
 'something2'}

In [70]:
print(cars_list)

['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3', 'Hyandai Elantra', 'nissan sentra', 'kia optima', 'Kia Soul']

In [71]:
import copy

In [74]:
# new_cars_list = copy.deepcopy(complete_cars_list_next2)
print(new_cars_list)

['Bugatti Veryron', 'Bugatti Veryron', 'Hennessey venom gt ', 'Hennessey venom gt ', 'Hyandai Elantra', 'Hyandai Elantra', 'Kia Soul', 'something1', 'something2', 'something2', 'something1', 'something2', 'something2', 'something1', 'something2', 'something2', 'something1', 'something2', 'something2']

In [75]:
del complete_cars_list_next2

In [76]:
complete_cars_list_next2

NameError: name 'complete_cars_list_next2' is not defined

In [77]:
new_cars_list

['Bugatti Veryron',
 'Bugatti Veryron',
 'Hennessey venom gt ',
 'Hennessey venom gt ',
 'Hyandai Elantra',
 'Hyandai Elantra',
 'Kia Soul',
 'something1',
 'something2',
 'something2',
 'something1',
 'something2',
 'something2',
 'something1',
 'something2',
 'something2',
 'something1',
 'something2',
 'something2']

In [6]:
cars_list = ['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3']

print(cars_list)

['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3']

In [9]:
cars_list.extend(['ferrari 458','hyandi accent','volswagon golf','honda civic'])
print(cars_list)

['toyota camry', 'ford falcon', 'land cruiser prado', 'mazda 3', 'ferrari 458', 'hyandi accent', 'volswagon golf', 'honda civic', 'ferrari 458', 'hyandi accent', 'volswagon golf', 'honda civic']

In [10]:
set(cars_list)

{'ferrari 458',
 'ford falcon',
 'honda civic',
 'hyandi accent',
 'land cruiser prado',
 'mazda 3',
 'toyota camry',
 'volswagon golf'}