In [8]:
salary = 1000

expense = 200

name = "James"
interest_rate = 0.04


def print_savings_details():

    print("Name on account: ", name) 


    savings = salary - expense 
    print("savings: ", savings)
    print("Interest rate: ", interest_rate)

In [3]:
print_savings_details()

Name on account:  james
savings:  800
Interest rate:  0.04

In [14]:
def print_savings_details(name, salary, expense, interest_rate):

    print("Name on account: ", name) 

    expense = expense + 100

    savings = salary - expense 
    print("savings: ", savings)
    print("Interest rate: ", interest_rate)

In [11]:
print_savings_details(name,salary,expense, interest_rate)

Name on account:  James
savings:  800
Interest rate:  0.04

In [15]:
print_savings_details("Julie", 10000, 2000,0.2)

Name on account:  Julie
savings:  7900
Interest rate:  0.2

In [16]:
name, salary, expense, interest_rate

('James', 1000, 200, 0.04)

In [18]:
def print_savings_details(name, salary, expense, interest_rate):

    name = "Harry"
    print("Name on account: ", name) 

    salary = salary * 2
    expense = expense + 100

    savings = salary - expense 
    print("savings: ", savings)

    interest_rate = 0.09
    print("Interest rate: ", interest_rate)

In [19]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  Harry
savings:  1700
Interest rate:  0.09

In [26]:
fruits_list = ["apple", "Grapes", "Mango", "Bananas"]

In [27]:
def change_list(fruits_list):

    fruits_list = ['kiwi', "Strawberry"]

    print("Inside the function", fruits_list)

change_list(fruits_list)
print()
print("Outside the function: ", fruits_list)

Inside the function ['kiwi', 'Strawberry']

Outside the function:  ['apple', 'Grapes', 'Mango', 'Bananas']

In [28]:
fruits_list = ['apple', 'Grapes']


change_list(fruits_list)

Inside the function ['kiwi', 'Strawberry']

In [29]:
fruits_list

['apple', 'Grapes']

In [30]:
fruits_tuple = ("apple", "Grapes", "Mango", "Bananas")

In [34]:
def change_tuple(fruits_tuple):

    fruits_tuple = "this is not even a tuple"

    print("Inside the function: ", fruits_tuple)

change_tuple(fruits_tuple)
print()
print("outside the function: ", fruits_tuple)

Inside the function:  this is not even a tuple

outside the function:  ('apple', 'Grapes', 'Mango', 'Bananas')

In [35]:
car_speed_dictionary = {
    'Camry' : 120,
    "Accord": 130,
    "Cayenne": 250,
    "Mini cooper": 100
}

In [37]:
def change_dictionary(car_speed_dictionary):

    car_speed_dictionary = {
        "Mustang": 200
    }

    print("inside the function: ", car_speed_dictionary)

In [39]:
change_dictionary(car_speed_dictionary)

inside the function:  {'Mustang': 200}

In [40]:
car_speed_dictionary

{'Camry': 120, 'Accord': 130, 'Cayenne': 250, 'Mini cooper': 100}