In [22]:
## introducing for loops

## examples include 



## letter is a variable
for letter  in ('H', 'E', 'L',"L", "O"):
    print(letter)

H
E
L
L
O

In [23]:
for country in "germany", "India", "Israel":

    print(country)

germany
India
Israel

In [24]:
dogs_tuple = ('golden retriever', 'kelpie x retriever', 'poodle', 'cavoodle')

for dogs in dogs_tuple:
    print("dog breed", dogs)

dog breed golden retriever
dog breed kelpie x retriever
dog breed poodle
dog breed cavoodle

In [25]:
dog_weight = (("pug",20),("Doberman", 30), ("Retriever", 35))

##enumerate function  returns the index at each iteration 

for i, (dog, weight) in enumerate(dog_weight):
        print("This dog at %d is a %s and it weights %s pounds" % (i,dog,weight) )

This dog at 0 is a pug and it weights 20 pounds
This dog at 1 is a Doberman and it weights 30 pounds
This dog at 2 is a Retriever and it weights 35 pounds

In [26]:
friends= ["John", "Adam", "James"]
for friend in friends:
    print("Happy new Year, ", friend)

Happy new Year,  John
Happy new Year,  Adam
Happy new Year,  James

In [27]:
student_scores = {'james': 0.24, "smith": 28, 'Jerry':99, 'bob': 122}

student_scores

{'james': 0.24, 'smith': 28, 'Jerry': 99, 'bob': 122}

In [28]:
for students in student_scores:
    print(students)

james
smith
Jerry
bob

In [29]:
student_scores.keys()

dict_keys(['james', 'smith', 'Jerry', 'bob'])

In [30]:
for student in student_scores.keys():
    print(student)

james
smith
Jerry
bob

In [31]:
for score in student_scores.values():
    print(score)

0.24
28
99
122

In [32]:
for key in student_scores:
    print("key value pair", key, ':' , student_scores[key])

key value pair james : 0.24
key value pair smith : 28
key value pair Jerry : 99
key value pair bob : 122

In [33]:
for key_value in student_scores.items():
    print(key_value)

('james', 0.24)
('smith', 28)
('Jerry', 99)
('bob', 122)

In [34]:
## making two seperate list

for student, score in student_scores.items():
    print("Student" , student , '\t scores', score)

Student james 	 scores 0.24
Student smith 	 scores 28
Student Jerry 	 scores 99
Student bob 	 scores 122

In [46]:
numbers = [4,6,8,10]

for num in numbers:
    quotient = num // 2
    print(quotient, "is the quotent of:" , num , '/2')


## the main goal of a for loop is to iterate over each item in sequence

2 is the quotent of: 4 /2
3 is the quotent of: 6 /2
4 is the quotent of: 8 /2
5 is the quotent of: 10 /2

In [49]:
mixed_list = [145, 10.5, 1+3j, True, 'Python', (0,10), [2,-5], {"Class":"V", "Section":"A"}]

for item in mixed_list:
    print ("type of" , item ," is" , type(item))

type of 145  is <class 'int'>
type of 10.5  is <class 'float'>
type of (1+3j)  is <class 'complex'>
type of True  is <class 'bool'>
type of Python  is <class 'str'>
type of (0, 10)  is <class 'tuple'>
type of [2, -5]  is <class 'list'>
type of {'Class': 'V', 'Section': 'A'}  is <class 'dict'>

In [53]:
num_list = [2,4,6,8]

## set a variable of the square

square = 0

for num in num_list:
    square = num **2 
    print("the square of", num, "is", square)

the square of 2 is 4
the square of 4 is 16
the square of 6 is 36
the square of 8 is 64

In [59]:
string = input("enter an input")

count = 0

for i in string:
    count = count +1

print(count)

4

In [60]:
numbers = [1,4,6,7]

for num in numbers:
    print(num)

else:
    print("no more items in the list")


## enter the oif block when the

1
4
6
7
no more items in the list

In [61]:
characters = {'a', 'b', 'c', 'd'}

for letter in characters:
    print(letter)

else:
    print("no more characters left")

d
b
c
a
no more characters left

In [65]:
us_citys = ['New York', "Texas", "Las Vegas", "california"]

for city in us_citys:
    if city == 'New York':
        print("new york is present in this list")

new york is present in this list

In [69]:
numbers = [3, 5 ,10,9,9,10,13,17,19,21,23,44]

for num in numbers:
    if num % 2 == 0:
        print("the list contains even numbers", num)

the list contains even numbers 10
the list contains even numbers 10
the list contains even numbers 44

In [70]:
years = [2016,2017,2018,2019]

for year in years: 
    if year % 4 ==0: 
        print("its a leap year")
    else: 
        print("its not a leap year")

its a leap year
its not a leap year
its not a leap year
its not a leap year