In [1]:

## name is a input argument
# def my_introduction(name):
#     print("Hello, my name is lucy")
#     print("I live and work in dallas")

# my_introduction()

def my_introduction():
    print("Hello, my name is lily" , )
    print("I live and work in texas",)

my_introduction()


def introduction(name,city):
    print("Hello, my name is" , name)
    print("I live and work in ", city)

introduction("lily",'new york')

## you musy specify the input argument in order

Hello, my name is lily
I live and work in texas
Hello, my name is lily
I live and work in  new york

In [2]:
my_introduction()

Hello, my name is lily
I live and work in texas

In [3]:
def square(x): 
    print("the sqaure of", x , 'is', x*x)

square(3)

the sqaure of 3 is 9

In [4]:
square(100000)

the sqaure of 100000 is 10000000000

In [5]:
num = 25 

square(num)

the sqaure of 25 is 625

In [6]:
another_num = 100

square(num)
square(another_num)

the sqaure of 25 is 625
the sqaure of 100 is 10000

In [7]:
salary = 2000
expenses = 400 

def my_savings(a,b):
    print("My total savings", a - b)


##input arguments are not being used 

my_savings(10000,300)

My total savings 9700

In [8]:
salary = 2000
expenses = 700

def calculate_savings(salary, expenses):
    print("My savings are: ", salary - expenses)

In [9]:
# calculate_savings(salary,expenses)

calculate_savings(3000, 1000)

My savings are:  2000

In [10]:
### new video USING positional Arguments


def print_many_times(string, times):

    for i in range(times):
        print(string)

print_many_times("Skillsoft", 5)

Skillsoft
Skillsoft
Skillsoft
Skillsoft
Skillsoft

In [11]:
def print_many_times(string, times):


    """ Prins the specified string the specific number of times 

        the first argument is the string you want printed, the second argument is
        the number of times you want the string printed
    """

    """parameters (both required )
        string(str): the string to be printed
        times(int): the number of times the string should be printed
      
    """

    for i in range(times):
        print(string)

In [12]:
def print_higher_number(a,b):
    
    if a > b:
        print("Higher number is" , a)
    else: 
        print("higher number is ", b)

In [13]:
print_higher_number(10, 1)



print_higher_number(10, 35)

Higher number is 10
higher number is  35

In [14]:
def print_higher_number_error(a,b):
    if a > b: 
        print("higher number is", a)
    else: 
        print("Higher number is", b)

        result = b + "a"

In [15]:
print_higher_number_error(10,5)

higher number is 10

In [16]:
print_higher_number_error(10,20)

Higher number is 20

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
def multiply(num1, num2, num3):
    print("Multiplication result", num1 * num2 * num3)

In [20]:
multiply(1, 1.4, 2)

multiply(1, 1.4, 2)

Multiplication result 2.8

TypeError: multiply() takes 3 positional arguments but 4 were given

In [21]:
def length(some_list):
    count = 0
    for element in some_list:
     count += 1

    print("the length of the list is", count)

In [22]:
num_list = [4,6,12,7,2,9,23]

length(num_list)

the length of the list is 7

In [23]:
cars_list = ["toyta", 'honda', "hyundai", 'ford']

length(cars_list)

the length of the list is 4

In [24]:
num_cars = len(cars_list)

num_cars

4

In [25]:
num_cars = length(cars_list)

the length of the list is 4

In [27]:
print(num_cars)

None

print many times
print many times
print many times