In [1]:
def introduction(name, city):
    print("hello, my name is", name)
    print("I live and work in", city)

In [2]:
def sum_of(num_1, num_2, num_3):
    return( num_1 + num_2, num_3)

sum_of(25, 34, 2)

(59, 2)

In [6]:
def total_score(math, physics,chemistry,biology):
    print( "Math", math, "Physics :", physics , "Chemistry", chemistry,"Biology", biology )
    return math + physics + chemistry + biology

In [5]:
total_score(100,20,53,59)

Math 100 Physics:  20 Chemistry 53 Biology 59

232

In [7]:
total_score(math=100, physics=56, chemistry=34, biology=22)
##ussing keyword arguments -> python does error checking asswell ßß

Math 100 Physics : 56 Chemistry 34 Biology 22

212

In [11]:
total_score(100, 56, 34, biology=99)

Math 100 Physics : 56 Chemistry 34 Biology 99

289

In [ ]:
## you dont have to specify in specific order

In [15]:
def print_student_details( name, school, math, physics, chemistry, biology):

    total = math + physics + chemistry + biology

    print("Name: ", name)
    print("School: ", school)
    print("Score: ", total)

In [16]:
print_student_details("Alice", 'Colunbia', math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Colunbia
Score:  339

In [17]:
num_list = [3,6,1,9,5,7]
sorted(num_list)

[1, 3, 5, 6, 7, 9]

In [19]:
sorted(num_list, reverse=True)

[9, 7, 6, 5, 3, 1]

In [20]:
print("Alice", "peter", "Greg", sep="|")

Alice|peter|Greg

In [21]:
print("Alice", "peter", "Greg", sep="|", end="****")

Alice|peter|Greg****