In [13]:
print()

In [14]:
def print_fn(string_1):
    print(string_1)

In [15]:
print_fn()

TypeError: print_fn() missing 1 required positional argument: 'string_1'

In [ ]:
def print_fn(string_1="\n"):
    print(string_1)

In [ ]:
print_fn()

In [ ]:
print_fn('Bob', "peter")

TypeError: print_fn() takes from 0 to 1 positional arguments but 2 were given

In [ ]:
def print_fn(string_1="\n", string_2=""):
    print(string_1, string_2)

In [ ]:
print_fn( "bob")

bob

In [19]:
def print_fn(*args):

    args_type = type(args)
    print(args_type)

    print(args)

In [16]:
print_fn("bob")

bob

In [21]:
print_fn("bob" , "Peter")

<class 'tuple'>
('bob', 'Peter')

In [24]:
names_list  = ['greg', 'claudia', 'bob', 'alice', 'steve', 'jim']

print_fn(*names_list)

<class 'tuple'>
('greg', 'claudia', 'bob', 'alice', 'steve', 'jim')

In [26]:
def students_in_COlledge(college, city, *students):
    
    print("colledge ", college)
    print("city: ", city)
    print("students: ", students)

In [31]:
students_in_COlledge("columbia", 'New york', "bob")

colledge  columbia
city:  New york
students:  ('bob',)

In [32]:
students_in_COlledge("columbia", 'New york', "Peter", "Juile", "Trista")

colledge  columbia
city:  New york
students:  ('Peter', 'Juile', 'Trista')

In [2]:
def student_details(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [3]:
student_details()

<class 'dict'>
{}

In [5]:
student_details(name="John", age =18 , colledge = "Harvard")

<class 'dict'>
{'name': 'John', 'age': 18, 'colledge': 'Harvard'}

In [6]:
def student_details(**details):

    for key,value in details.items():
        print(key,value)

student_details(name="John", age=18, college = "boston university")

name John
age 18
college boston university

In [16]:
details_dictionary = {'name':'John', "age": 18, "Colledge":"boston university"}

In [17]:
student_details(**details_dictionary)

name John
age 18
Colledge boston university

In [18]:
def student_details(**details):

    if 'name' in details:
        print("Name: ", details['name'])
    if 'age' in details: 
        print("Age: ", details['age'])
    if 'college' in details: 
        print("College: ", details['college'])

In [20]:
student_details(name="John", college="Boston University")

Name:  John
College:  Boston University

In [21]:
student_details(name="John", college="Boston University", age=22)

Name:  John
Age:  22
College:  Boston University

In [22]:
def student_in_college(*student_names, **college_details):
    
    # single astric means its a postional variable length agument
    ## double astrics means its a keyword variable length argument
    print("Student--")
    for s in student_names:
        print(s)

    print()

    print("College Details--")
    for key, value in college_details.items():
        print(key,value)

In [23]:
student_in_college("alison", 'bob', 'charlie', name="standford", city="palo alto")

Student--
alison
bob
charlie

College Details--
name standford
city palo alto